{# hitzapp/templates/layout.html #}

{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/apple-touch-icon.png') }}">
    
    {#<link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
      .brand-image {
        max-width: 128px;
        padding-top: 0px;
      }
      
    </style>
        <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}">
    </script>
    
    <script src="{{ url_for('static', filename='bower_components/bootstrap-combobox/js/bootstrap-combobox.js') }}"> 
    </script>
  </head>
  <body>
  <div class="container">

    
    <nav class="navbar navbar-default">
    <div class="container=fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hitz-menu-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a href="#" class="navbar-brand"><img src="{{ url_for('static',filename='images/HITZ.png') }}" alt="Hitz" class="img-responsive brand-image">&nbsp;</a>
    </div>
    <div class="collapse navbar-collapse" id="hitz-menu-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-nav-right">

            {{ nav_link('index', 'Home') }}
            {{ nav_link('players', 'Players') }}
            {{ nav_link('games', 'Games') }}
            {{ nav_link('admin', 'Admin')}}
    </ul>
    </div>
    </div>
    
    </nav>
    </div>
    <div class="container">
     
      <br>
      {% block content %}{% endblock %}
      <br>
      
    </div>
    
    
    
  </body>
</html>