<# hitzapp/templates/layout.html #>

<% from "macros.html" import nav_link with context %>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% block title %><% endblock %></title>
    <link rel="shortcut icon" href="%% url_for('static',filename='images/favicon.ico') %%" type="image/x-icon">
  <link rel="apple-touch-icon" href="%% url_for('static',filename='images/apple-touch-icon.png') %%">
    
    <#<link href="%% url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css')%%" rel="stylesheet" media="screen">#>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
      .brand-image {
        max-width: 128px;
        padding-top: 0px;
      }
      
    </style>
  </head>
  <body>
  <div class="container">
    <script src="%% url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') %%">
    </script>
    <script src="%% url_for('bower.static', filename='jquery/dist/jquery.js') %%">
    </script>
    
    <script src="%% url_for('bower.static', filename='bootstrap-combobox/js/bootstrap-combobox.js') %%"> 
    </script>
    
    <nav class="navbar navbar-default">
    <div class="container=fluid">
    <div class="navbar-header">
    <a href="#" class="navbar-brand"><img src="%% url_for('static',filename='images/HITZ.png') %%" alt="Hitz" class="img-responsive brand-image"></a>
    </div>
    <ul class="nav navbar-nav">

            %% nav_link('index', 'Home') %%
            %% nav_link('players', 'Players') %%
            %% nav_link('games', 'Games') %%
            %% nav_link('admin', 'Admin')%%
    </ul>
    </div>
    </nav>

    <div class="container">
     
      <br>
      <% block content %><% endblock %>
      <br>
      
    </div>
    
    
    
  </body>
</html>