<# hitzapp/templates/layout.html #>

<% from "macros.html" import nav_link with context %>

<!DOCTYPE html>
<html>
  <head>
    <title><% block title %><% end block %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="%% url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css')%%" rel="stylesheet" media="screen">
    <#<style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
      h2 {color: red;}
    </style>#>
  </head>
  <body>
    <div class="navbar">
    <a href="#" class="navbar-brand">Hitz</a>
    <ul class="nav navbar-nav">
            {{ nav_link('index', 'Home') }}
            {{ nav_link('players', 'Players') }}
            {{ nav_link('games', 'Games') }}
            {{ nav_link('admin', 'Admin')}}
    </ul>
    </div>
    <div class="container">
     
      <br>
      <% block content %><% endblock %>
      <br>
      
    </div>
    
    <script src="%% url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') %%"></script>
    <script src="%% url_for('bower.static', filename='jquery/dist/jquery.js') %%"></script>
    <script src="%% url_for('bower.static', filename='bootstrap-combobox/js/bootstrap-combobox.js') %%"></script>
  </body>
</html>